version: "3.9"

services:
  spring-app:
    build: .
    container_name: spring-app
    depends_on:
      - mongodb
      - keycloak
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/mydatabase
      SERVER_PORT: 8762
      KEYCLOAK_URL: http://keycloak:8080
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER_URI: http://keycloak:8080/realms/hackathon
#      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak:8080/realms/hackathon
      spring.security.oauth2.client.provider.keycloak.issuer-uri: http://keycloak:8080/realms/hackathon
#      spring.security.oauth2.resourceserver.jwt.issuer-uri: http://keycloak:8080/realms/hackathon
#      spring.security.oauth2.resourceserver.jwt.jwk-set-uri: http://keycloak:8080/realms/hackathon

    ports:
      - "8762:8762"
    networks:
      - backend

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        REACT_APP_BACKEND_URL: ""
        REACT_APP_KEYCLOAK_URL: http://keycloak:8080
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - spring-app
    networks:
      - backend

  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_DATABASE: mydatabase
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.0
    container_name: keycloak
    command:
      - start-dev
      - --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./keycloak/realms:/opt/keycloak/data/import
    ports:
      - "8180:8080"
    networks:
      - backend

volumes:
  mongo_data:

networks:
  backend:
    driver: bridge